.mb-small {margin-bottom: 2rem !important}
.mb-medium {margin-bottom: 5rem !important}
.mb-large {margin-bottom: 8rem !important}
.mb-huge {margin-bottom: 10rem !important}

.mt-small {margin-top: 2rem !important}
.mt-medium {margin-top: 5rem !important}
.mt-large {margin-top: 8rem !important}
.mt-huge {margin-top: 10rem !important}

.mr-small {margin-right: 2rem !important}
.mr-medium {margin-right: 5rem !important}
.mr-large {margin-right: 8rem !important}
.mr-huge {margin-right: 10rem !important}

.ml-small {margin-left: 2rem !important}
.ml-medium {margin-left: 5rem !important}
.ml-large {margin-left: 8rem !important}
.ml-huge {margin-left: 10rem !important}

/* section padding */

.wrapper {padding: 10rem 5rem !important}

/* heading which have icon  */

.heading--icon {
    display: flex;
    align-items: center;

    img {
        margin-right: 2rem;
    }
}